.card-body{
    background-color: #d6d5b5;
    padding: 28px;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 57%;
    padding: 20px;
    /* background: red; */
    color: white;
    text-align: center;
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
}
body{
    background-image: url('../image/B2.jpg'); 
    background-size: cover;
}
.form-group {
    margin: 6%;
}
.content .log{
    width: 50%; 
    margin-bottom: 50PX;
    padding: 10PX 0PX 30PX 0PX;
    border-radius: 5px;
    BORDER-RADIUS: 8PX;
}
label{
    color: #2f4a48;
    font-family: auto;
}
.btnn{
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
    color: #000;
    background-color: #d6d5b5;
    border-color: #36504c;
    width: auto;
    font-size: 22px;
    color: #2f4a48;
    /* font-size: 20px; */
    font-family: auto;
    border: 0;
    padding: 6px;
    width: auto;
    border-radius: 5px;
}
.row {
    display: contents !important;
}
@media screen and (max-width: 600px) {
   
   .card-body{
    top: 60%;
    width: 90%;
    height: 68%;
   }
  }