body:before {
  height: 163%;
}
table {
       /* display: flex; */
       justify-content: center;
       width: 88%;
       margin-left: 41px;
}
input[type=text], select {
    width: 87%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: content-box;
  }
  td {
    font-size: 20px;
    color: #f7f7f7 !important;
    font-weight: bold;
    font-family: inherit;
}

div#editor {
  margin: 37px;
}
.submit {
    width: 28%;
    background-color: #23922e;
    color: white;
    padding: 14px 20px;
    margin: 13px 44px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    /* margin-top: 18px; */
    display: block;
  }
  
  .submit:hover {
    background-color: #45a049;
  }
  *[class*="grid-width"] {
    margin-bottom: 31px;
}
.tt {
  font-size: 22px;
  font-family: sans-serif;
  FONT-WEIGHT: BOLD;
  margin-top: 9px;

}
@media screen and (max-width: 600px) {
  div#editor {
    margin: 0;
}
.card-body{
top: 75%!important;
}
}